<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="98%"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="30" class="headertext">About Us </td>
                </tr>
                <tr>
                  <td><img src="../images/about_img.jpg" width="680" height="125"></td>
                </tr>
                <tr>
                  <td class="content_text"> <br>
                    <p class="content_text">This is dummy text, This is dummy text , This is dummy text , This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,</p>
                    <p class="content_text">This is dummy text, This is dummy text , This is dummy text , This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,<br>
                        <br>
  This is dummy text, This is dummy text , This is dummy text , This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text , </p>
                    <p class="content_text">This is dummy text, This is dummy text , This is dummy text , This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,</p>
                    <p class="content_text">This is dummy text, This is dummy text , This is dummy text , This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,<br>
                        <br>
  This is dummy text, This is dummy text , This is dummy text , This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text ,This is dummy text, This is dummy text , </p></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
</body>
</html>
