
<%= stylesheet_link_tag 'events' %>


<% if !@past_events %>
  <div id="past_events"><%= link_to 'Show past events', '/events/full_index' %></div>
<% end %>
<h1>All Events (<%= @events.size %>)</h1>

<div id="events_table">

  <% for event in @events %>
    <%= render :partial => 'event_brief', :locals=>{:event=>event, :group_event => ''} %>
  <% end %>
</div>

